/* Style the header */

.header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
}

/* Page content */

.content {
    padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */

.sticky+.content {
    padding-top: 102px;
}

body {
    color: whitesmoke;
    margin-top: 100px;
    background-color: #62a73b;
    padding: 30px 10%;
}

h1 {
    font-size: 30px;
}

.sub-heading {
    font-size: 30px;
}

.logo {
    padding: 5px;
}

.top-container {
    background-color: #f1f1f1;
    top: 0%;
    left: 0%;
    width: 100%;
    text-align: center;
}

.header {
    text-align: center;
    position: fixed;
    padding: 10px;
    padding-right: 30px;
    padding-left: 10px;
    background: white;
    color: black;
    top: 0%;
    left: 0%;
    width: 100%;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-left {
    float: left;
    text-align: center;
    padding-left: 20px;
}

.header-right {
    float: right;
    text-align: center;
    padding-right: 50px;
}

.header-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    font-size: 25px;
}

.margin-top-80 {
    margin-top: 80px
}

.margin-top-30 {
    margin-top: 30px
}

button{
    color: #62a73b;
}
